.van-theme-dark body {
  color: f2f2f2;
  background-color: black;
}

:root {
  --van-placeholder: #ffffff;
  // --van-orgace: #ffa500;
  --van-field-placeholder-text-color: var(--van-white);
  --van-dialog-confirm-button-text-color: var(--van-orgace) !important;
  // --van-dialog-has-title-message-text-color: var(--van-placeholder) !important;
}
